---
import {getCollection} from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const allPosts = await getCollection('walkthroughs');
const posts = allPosts.filter((p) => p.data.category === 'soc');
---

<Layout title="HTB Walkthroughs | DevRoss">
    <h2>SOC Walkthroughs</h2>
    {
        posts.map((post) => {
            const slugParts = post.slug.split('/');
            const realSlug = slugParts[1];

            return (
                <div class="card">
                    <h3>
                        <a href={`/walkthrough/${post.data.category}/${realSlug}`}>{post.data.title}</a>
                        <span class={`badge ${post.data.category}`}>{post.data.category}</span>
                    </h3>
                    <p>
                        <strong>Date:</strong> {post.data.date}
                    </p>
                    <p>
                        <strong>Tags:</strong> {post.data.tags.join(', ')}
                    </p>
                </div>
            );
        })
    }
</Layout>
