---

const projects = [
  {
    title: 'CS Logan Shop',
    description: 'A Live e-commerce bookstore built with Next.js, Tailwind, and Stripe Checkout.',
    tech: ['Next.js','Tailwind','Stripe','Sanity'],
    image: '/images/cslogan.png',
    github: 'https://github.com/itzrossyo/csloganshop',
    live: 'https://cslogan.com',
  },
  {
    title: 'BadDogStreetFood',
    description: 'A Live e-commerce bookstore built with Next.js, Tailwind, and Stripe Checkout.',
    tech: ['Astro','bootstrap'],
    image: '/images/badbog.png',
    github: 'https://github.com/itzrossyo/BadDogStreetFood',
    live: 'https://baddogsteerfood.netlify.app/',
  },
  {
    title: 'cryptosite',
    description: 'A Live e-commerce bookstore built with Next.js, Tailwind, and Stripe Checkout.',
    tech: ['HTML','CSS','JavaScript'],
    image: '/images/crypto.png',
    github: 'https://github.com/itzrossyo/cryptosite-p2',
    live: 'https://itzrossyo.github.io/cryptosite-p2/',
  },
  {
    title: 'CS Logan Shop',
    description: 'A Live e-commerce bookstore built with Next.js, Tailwind, and Stripe Checkout.',
    tech: ['Next.js','Tailwind','Stripe','Sanity'],
    image: '/images/cslogan.png',
    github: 'https://github.com/itzrossyo/csloganshop',
    live: 'https://cslogan.com',
  },
];
---

<section class="project-section">
  <h2>My Projects</h2>
  <div class="project-grid">
    {projects.map((proj) => (
      <div class="project-card">
        <img src={proj.image} alt={proj.title} class="project-image"/>
        <div class="project-info">
          <h3>{proj.title}</h3>
          <p>{proj.description}</p>
          <ul>
            {proj.tech.map((tech) => (
              <li>{tech}</li>
            ))}
            <div>
              <a href={proj.github} class="github-link">GitHub</a>
              <a href={proj.live} class="live-link">Live</a>
            </div>
          </ul>
        </div>
      </div>
    ))}
  </div>
</section>